

<ion-modal-view>
  <div class="bar bar-header">
    <button class="button button-icon icon ion-ios-arrow-left" style="color:#009689;"
            ng-click="closezhuce2()"></button>
    <h1 class="title">注册</h1>
  </div>
  <ion-content class="has-footer has-header">
    <div class="list">
      <div class="item item-divider">
        <div class="row">
          <div class="col text-center">
            <span>1.填写手机号</span>
            <span> > </span>
            <span class="fts">2.填写密码</span>
            <span> > </span>
            <span>3.短信验证</span>
          </div>
        </div>
      </div>
    </div>
    <div class="list list-inset">
      <div class="item item-input-inset">
        <span class="input-label" style="width:15%;">密码</span>
        <input type="password" placeholder="6~18位字母或数字" ng-model="usermsg.userpwd">
      </div>
    </div>
    <div class="text-center">
      <p>点击下一步,既表示您同意<sapn style="color:#2097EF;">《用户条款》</sapn></p>
    </div>
    <div class="padding">
      <button
        ng-click="zcbtn(2)"
        class="button button-balanced button-block">
        下一步
      </button>
    </div>

  </ion-content>
</ion-modal-view>




